body {font-family: Arial, Helvetica, sans-serif;}

#inputs{
    margin-left: 45em;
}

body{
    background: linear-gradient(90deg, rgba(28,59,117,1) 9%, rgba(55,102,176,1) 44%, rgba(34,135,158,1) 71%);
}


h1{
    font-style: italic;
    font-size: 50px;
    margin-left: 9em;
    padding-bottom: 2em;
    color: white;
}

label{
    font-size: 25px;
}

.inputStyle{
    font-family: inherit;
    width: 20em;
    border: 0;
    border-bottom: 2px solid white;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    background: transparent;
}


.inputs{
    margin-left: 33em;
}

body{
    color: white;
}

input{
    width: 12em;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1em;
    margin-bottom: 3em;
}

button{
    margin-top: 5em;
    margin-left: 46.5em;
}


#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content */
#makingTable{
    font-weight: bold;
    font-size: 23px;
    padding: 20px;
    width: 100%;
    height: auto;
    max-width: 1080px;
    margin: auto;
}

#makingTablet th, td {
    text-align: left;
    padding: 8px;
    border: 2px solid black;
}

#exitButton{
    margin-left:100em;
    font-weight: bold;
    background-color: red;
    border-radius: 8px;
}

.myButton {
    box-shadow:inset 0px 0px 15px 3px #23395e;
    background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    background-color:#2e466e;
    border-radius:17px;
    border:1px solid #1f2f47;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    padding:6px 13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
    background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    background-color:#415989;
}
.myButton:active {
    position:relative;
    top:1px;
}
